body {
    background-color: #f0f0f0; 
    color: #333; 
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; 
}

h1 {
    text-align: center;
    color: #007acc; 
}

th,
td {
    border: 1px solid #007acc; 
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007acc; 
    color: #fff; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
